<!DOCTYPE html>
<html>
    <head>
        <meta name="navigation" content="width=device-width,initial-scale=1.0">
        <title>PANKY</title>
        <link rel="stylesheet" href="../static/css/bank.css">
    </head>
    <body>
        <div class="container">
            <header class="bank-header">
                <div class="div-logo">
                    <img src="../static/bank.png">
                </div>
                <nav class="bank-nav">
                    <a href="{{url_for('ViewCustomer')}}">View all Customers</a>
                    <a href="{{url_for('MakeTransaction')}}">Transfer</a>
                    <a href="{{url_for('ViewTransaction')}}">History</a>
                </nav>
            </header>
            <div class="main">
                <div class="main-image">
                    
                    
                </div>
                
                
                <footer class="footer">
                    <div class="footer-text">
                        Copyright@2021 sparks
                    </div>
                    <div class="footer-img">
                        <a href="http://www.facebook.com"><img src="../static/facebook.png"></a>
                        <a href="http://www.twitter.com"><img src="../static/twitter.png"></a>
                        <a href="http://www.instagram.com"><img src="../static/instagram.png"></a>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>